
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
      
    title #{title} - Yogstation
    block css
      
    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js') 
  body
    
    div(class=['nav', 'navbar-fixed-top'])
      div(class='container')
        div(class='navbar-header')
          button(type='button' class=['navbar-toggle', 'collapsed'])
            span(class='sr-only') Toggle Navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
        a(class='navbar-brand' href='#') Yogstation
      
      div(class='container')
        h1 Test
    block bodyscripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
