mixin panel(extra, title, footer)
  - var title = title || false
  - var extra = extra || []
  - var footer = footer || false
  div(class='panel' class=extra)
    if title
      div(class='panel-heading') #{title}
    div(class='panel-body')
      block
    if footer
      div(class='panel-footer') #{footer}
