<div class="container" ng-controller="AboutViewController">
  <div class="row">
    <div class="col s12 ">
      <h3>About</h3>
      <p>Designed and Developed By <a href="https://github.com/AshCorr">Ashleigh Carr</a> & <a href="https://github.com/nichlas0010">Nichlas0010</a> with love for Yogstation &#60;3</p>
      <p>Available on <a href="https://github.com/yogstation13/yogbot">Github</a></p>
      <h4>Credits</h4>
      <p>Salladata from <a href="https://fulpstation.com/">Fulpstation</a> for the wonderful background art</p>
      <p><a href="https://nodejs.org">NodeJS</a> for the backend language</p>
      <p><a href="https://angularjs.org/">AngularJS</a> for the frontend framework</p>
      <p><a href="http://materializecss.com/">Materializecss(Material Design)</a> for the frontend style</p>
    </div>
  </div>
</div>
