<div class="row" ng-controller="HomeViewController" style="text-align: center; padding-top: 100px;">
  <div class="col s12 white-text intro">
    <h1>Yogstation 13</h1>
    <h5><a class="white-text" href="byond://game.yogstation.net:4133">byond://game.yogstation.net:4133</a></h5>
    <br>
    <br>
    <h5>Players: <span class="blue-text">{{serverStatus.players}}</span> Online: <span ng-class="{'green-text': serverStatus.online, 'red-text': !serverStatus.online }">{{serverStatus.onlineString}}</span></h5>
    <h5 ng-show="serverStatus.shuttle_timer < 600">Shuttle Timer: <span class="blue-text">{{serverStatus.shuttle_timer_friendly}}</span></h5>
    <br>
    <h5>Current Council: <span class="red-text">Vacant</span>, <span class="red-text">Vacant</span>, <span class="red-text">Vacant</span>, <span class="red-text">Vacant</span>, <span class="red-text">Vacant</span>, <span class="red-text">Vacant</span>,</h5>

  </div>

</div>
