<div style="width: 99% !important;" class="container" ng-controller="LibraryViewController">
  <div class="row">
    <div class="valign-wrapper">
      <div class="col s9">
        <h3>Library</h3>
      </div>
      <div class="col s3">
        <div class="input-field">
          <select ng-model="category" ng-change="categorySelected()">
            <option value="all" selected>All Categories</option>
            <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class=" col s12 ">
      <table class="bordered ">
        <thead>
          <tr>
            <td style="width: 20%; ">Title</td>
            <td style="width: 30%; ">Author</td>
            <td style="width: 10%; ">Category</td>
            <td style="width: 10%; ">Published</td>
            <td style="width: 10%; ">Preview</td>
            <td style="width: 10%; ">View</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="book in books ">
            <td>
              <small>{{book.title}}</small></td>
            <td><small>{{book.author}}</small></td>
            <td><small>{{book.category}}</small></td>
            <td><small>{{book.published}}</small></td>
            <td><small><a class="waves-effect waves-light btn" ng-click="previewBook(book.id)">Preview</a></small></td>
            <td><small><a class="waves-effect waves-light btn" href="/library/book/{{book.id}}">View</a></small></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col s12 ">
      <ul class="pagination center-align ">
        <li ng-show=" currentPage> 1" class="disabled white-text"><a class="white-text" href="/library/{{category}}/{{currentPage-1}}/{{pageLimit}}"><i class="material-icons">chevron_left</i></a></li>
        <li ng-show="currentPage > 2" class="waves-effect white-text"><a class="white-text" href="/library/{{category}}/{{currentPage-1}}/{{pageLimit}}">{{currentPage-1}}</a></li>
        <li class="active"><a class="white-text" href="/library/{{category}}/{{currentPage}}/{{pageLimit}}">{{currentPage}}</a></li>
        <li class="waves-effect"><a class="white-text" href="/library/{{category}}/{{currentPage+1}}/{{pageLimit}}">{{currentPage+1}}</a></li>
        <li class="waves-effect"><a class="white-text" href="/library/{{category}}/{{currentPage+2}}/{{pageLimit}}">{{currentPage+2}}</a></li>
        <li class="waves-effect"><a class="white-text" href="/library/{{category}}/{{currentPage+3}}/{{pageLimit}}">{{currentPage+3}}</a></li>
        <li class="waves-effect"><a class="white-text" href="/library/{{category}}/{{currentPage+1}}/{{pageLimit}}"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>

  <div id="modal-book" class="modal">
    <div class="modal-content black-text">
      <h4>{{book.title}}</h4>
      <p ng-bind-html="book.content"></p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

</div>
