name: CI

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Publish Docker
      uses: elgohr/Publish-Docker-Github-Action@2.12
      with:
        name: yogstation13/yogbot/yogbot
        username: ${{secrets.DOCKER_PUSH_USERNAME}}
        password: ${{secrets.DOCKER_PUSH_PASSWORD}}
        registry: docker.pkg.github.com
        tags: ${{github.sha}}
    - name: Compile Code
      run: |
        npm install
        npx tsc -b tsconfig.json
    - name: Deploy
      uses: Consensys/kubernetes-action@72b76db38fa0183d72d4080c2fcf63764919c688
      env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
      with:
        args: set image --namespace yogbot deployment/yogbot yogbot=docker.pkg.github.com/yogstation13/yogbot/yogbot:${{github.sha}}
